
         <footer>
                                    <div class="container">
                                         <div class="row">
                                              <div class="col-md-4 col-sm-4 footerleft ">
                                                    <div class="logofooter"> David Jiang</div>
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                                      <p><i class="fa fa-map-pin"></i> 12345 Brooklyn, New York, 11209</p>
                                                      <p><i class="fa fa-phone"></i> Phone (U.S.) : 1 644 654 6544</p>
                                                      <p><i class="fa fa-envelope"></i> E-mail :  djiang22@yahoo.com</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 footerleft ">
                                                    <div class="logofooter">Haosen Zheng</div>
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                                      <p><i class="fa fa-map-pin"></i> 12345 Brooklyn, New York, 11209</p>
                                                      <p><i class="fa fa-phone"></i> Phone (U.S.) : 1 093 123 1234</p>
                                                      <p><i class="fa fa-envelope"></i> E-mail :  hzheng20@yahoo.com</p>
                                                </div>

                                      </div>
                                    </div>
                              </footer>

                                    <div class="copyright">
                                          <div class="container">
                                               <div class="col-md-12 ">
                                                    <p><strong>&copy; <%= new Date().toISOString().substr(0,4)%> DHH Design Studio</strong></p>
                                             </div>
                                       </ul>
                                          </div>
                                    </div>

</body>
<!--import additional script here--> 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>