    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 footerleft ">
                    <div class="logofooter">David Jiang</div>
                        <p>Bringing Passion and Imagination to Life with Programming</p>
                        <p><i class="fa fa-map-pin"></i>17 Gerard Ave, Binghamton, NY 13905</p>
                        <p><i class="fa fa-phone"></i> Phone (U.S.): 1 929 283 9935</p>
                        <p><i class="fa fa-envelope"></i> E-mail: djiang86@binghamton.edu</p>
                </div>
                <div class="col-md-4 col-sm-4 footerleft ">
                    <div class="logofooter">Haosen Zheng</div>
                        <p>"Knowledge is Limited, Imagination Encircles the World" -- Einstein</p>
                        <p><i class="fa fa-map-pin"></i>17 Gerard Ave, Binghamton, NY 13905</p>
                        <p><i class="fa fa-phone"></i> Phone (U.S.) : 1 646 407 6878</p>
                        <p><i class="fa fa-envelope"></i> E-mail :  hzheng20@binghamton.edu</p>
                </div>
                
                <div class="col-md-3 col-sm-4 paddingtop-bottom pull-right">
                   <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                           <blockquote cite="https://dj-design-studio.herokuapp.com/"><a href="https://dj-design-studio.herokuapp.com/"> DJ Design Studio</a></blockquote>
                        </div>
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.linkedin.com/in/david-jiang-755818149/"><a href="https://www.linkedin.com/in/david-jiang-755818149/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> David Jiang</a></blockquote>
                        </div>
                        
                        <div class="fb-xfbml-parse-ignore">
                           <blockquote cite="https://edlforest.github.io/"><a href="https://dj-design-studio.herokuapp.com/"> DJ Design Studio</a></blockquote>
                        </div>
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.linkedin.com/in/haosen-z-9ba1a7a1/"><a href="https://www.linkedin.com/in/haosen-z-9ba1a7a1/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Haosen Zheng</a></blockquote>
                        </div>
                        
                    </div>
                 </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
            <div class="container">
                    <div class="col-md-12 ">
                        <p><strong>&copy; <%= new Date().toISOString().substr(0,4)%> DHH Design Studio</strong></p>
                    </div>
            </div>
    </div>
</body>
<!--import additional script here--> 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>