<%include ./partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BN2NkZjA0OWUtZDgyMy00MjIxLWJhZTEtYjdmYzVjZTQ3YWRiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SX300.jpg" alt="...">
                      <div class="caption">
                        <h3>Pokémon: The First Movie - Mewtwo Strikes Back</h3>
                        <p>Scientists genetically create a new Pokémon, Mewtwo, but the results are horrific and disastrous.</p>
                        <p><a href="#" class="btn btn-primary center-block" role="button">More Info</a></p>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzE1NjBiODAtNDVhNS00ZTI1LTg4ZjUtZTk3OWVhODljMjNjXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SX300.jpg" alt="...">
                      <div class="caption">
                        <h3>Pokémon: The Movie 2000</h3>
                        <p>Ash Ketchum must gather the three spheres of fire, ice and lightning in order to restore balance to the Orange Islands.</p>
                        <p><a href="#" class="btn btn-primary center-block" role="button">More Info</a></p>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZDZiYjc3MWYtODE5Mi00MDM5LWFkZTAtNjAzZmUxMzc4ZGQxL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" alt="...">
                      <div class="caption">
                        <h3>Pokémon 4Ever</h3>
                        <p>Ash must stop a hunter who forces the mythical Pokémon Celebi to help him destroy a forest.</p>
                        <p><a href="#" class="btn btn-primary center-block" role="button">More Info</a></p>
                      </div>
                </div>
            </div>
        </div>
    </div>


<%include ./partials/footer %> 
