footer { background-color:#0c1a1e; min-height:350px; font-family: lobster }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:2em; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:15px !important; font-family: lobster; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:1.3em;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#2df4ff; text-decoration: none;}

.copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px; font-size: 1.2em;}
 
 
#pagination {
    margin-bottom: 30px;
}